extends html-layout
include mixins/navLink
include mixins/social-facebook
include mixins/social-instagram
include mixins/social-twitter
include mixins/logo-boat

block body
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigationn
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/")
                    img(alt="inYacht", src="/img/logo.png")
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    +navLink(sitemap.aboutUs)
                    +navLink(sitemap.search)
                    +navLink(sitemap.faq)
                    +navLink(sitemap.contact)
                    li.hidden-xs
                        +social-facebook(contactData, "header")
                    li.hidden-xs
                        +social-instagram(contactData, "header")
                    li.hidden-xs
                        +social-twitter(contactData, "header")
    main.main
        block content

    footer.footer
        .site-info#site-info
            .container
                .row.sitemap-row#sitemap.logo-row
                    .col-md-4.col-sm-4.col-xs-12
                        h4
                            a(href=sitemap.index.route) #{sitemap.index.menuItem}
                        h4
                            a(href=sitemap.aboutUs.route) #{sitemap.aboutUs.menuItem}
                        h4
                            a(href=sitemap.search.route) #{sitemap.search.menuItem}
                        h4
                            a(href=sitemap.faq.route) #{sitemap.faq.menuItem}
                        h4
                            a(href=sitemap.contact.route) #{sitemap.contact.menuItem}

                    .col-md-4.col-sm-4.col-xs-12.contact#contact.text-center
                        h4 Kontaktujte nás
                        p
                            a(href="mailto:"+contactData.email.value).email #{contactData.email.value}
                        p
                            | #{contactData.phoneNumber.value}

                        p
                            +social-facebook(contactData, "footer")
                            +social-instagram(contactData, "footer")
                            +social-twitter(contactData, "footer")

                    .col-md-4.col-sm-4.hidden-xs.logo-container
                        +logo-boat("logo-boat__footer")

        .copyright#copyright
            .container
                .row
                    .col-sm-12
                        p Created by <a href="mailto:admin@inyacht.cz">@Suzii</a>
