mixin logo-boat(className, height, color1, color2)
    - var primaryColor = color1 || "#00A6FB";
    - var secondaryColor = color2 || "#FF713E";

    svg.logo-full(
    version='1.1',
    xmlns='http://www.w3.org/2000/svg',
    xmlns:xlink='http://www.w3.org/1999/xlink',
    x='0px',
    y='0px',
    class=className
    viewbox='0 0 2230 782',
    enable-background='new 0 0 2230 782',
    xml:space='preserve')
        g
            path(fill=primaryColor, d='M61.912,218.078h46.191v342.139H61.912V218.078z')
            path(fill=primaryColor, d='M171.613,204.381l252.979,260.033V218.078h46.729v357.983L218.342,317.179v243.038h-46.729V204.381z')
            path(fill=primaryColor, d='M773.201,218.078h51.705l84.058,137.748l83.135-137.748h51.806L931.648,403.38v156.836H884.92V403.917\
        L773.201,218.078z')
            path(fill=primaryColor, d='M1150.754,204.918l161.536,355.298h-48.97l-39.703-87.549h-145.188l-39.259,87.549h-48.608\
        L1150.754,204.918z M1150.628,311.698l-54.73,122.028h110.057L1150.628,311.698z')
            path(fill=primaryColor, d='M1593.85,229.894v52.905c-36.885-18.081-70.811-27.124-101.783-27.124\
        c-39.746,0-73.228,12.836-100.439,38.5c-27.217,25.668-40.82,57.189-40.82,94.569c0,38.098,13.918,69.887,41.76,95.375\
        c27.838,25.486,62.709,38.23,104.604,38.23c30.434,0,62.66-9.574,96.68-28.734v53.441c-30.977,16.471-64.547,24.707-100.709,24.707\
        c-52.998,0-98.291-17.934-135.889-53.803s-56.396-79.123-56.396-129.754c0-49.733,18.484-92.312,55.457-127.735\
        c36.968-35.424,81.506-53.136,133.605-53.136C1523.395,207.335,1558.039,214.855,1593.85,229.894z')
            path(fill=primaryColor, d='M1653.051,218.078h46.729v131.592h163.551V218.078h46.191v342.139h-46.191V395.861h-163.551v164.356\
        h-46.729V218.078z')
            path(fill=primaryColor, d='M1961.695,218.078h209.203v46.729h-81.641v295.411h-46.191V264.806h-81.371V218.078z')
        g
            g
                g
                    path(fill=secondaryColor, d='M491.271,609.555c0.764,13.882,4.874,27.885,10.261,40.609c3.901,9.215,8.544,18.702,14.5,26.805\
            c4.833,6.574,12.909,9.842,20.523,5.382c6.498-3.807,10.235-13.92,5.381-20.522c-5.232-7.119-9.21-15.292-12.915-23.268\
            c-0.163-0.352-2.581-6.183-0.981-2.166c-0.486-1.221-0.905-2.468-1.329-3.711c-1.084-3.177-1.964-6.424-2.803-9.672\
            c-0.808-3.13-1.487-6.291-2.097-9.465c-0.223-1.16-0.411-2.326-0.595-3.493c0.687,4.359,0.109,0.501,0.054-0.499\
            c-0.449-8.161-6.483-15-15-15C498.434,594.555,490.821,601.384,491.271,609.555L491.271,609.555z')
            g
                g
                    path(fill=secondaryColor, d='M606.196,71.693c24.855,103.992,54.985,206.654,97.063,305.082\
            c32.896,76.948,73.419,150.249,117.724,221.163c4.324,6.922,13.312,9.605,20.523,5.382c6.894-4.038,9.717-13.583,5.381-20.522\
            c-26.43-42.304-51.585-85.406-74.52-129.711c-10.918-21.091-21.292-42.462-31.127-64.078\
            c-4.92-10.813-9.682-21.699-14.318-32.637c1.195,2.82-0.639-1.529-0.709-1.698c-0.554-1.323-1.104-2.648-1.654-3.973\
            c-1.103-2.656-2.193-5.317-3.279-7.979c-2.366-5.802-4.684-11.623-6.972-17.456c-33.303-84.908-58.002-172.92-79.184-261.546\
            c-1.9-7.951-10.776-12.588-18.452-10.477C608.595,55.463,604.297,63.747,606.196,71.693L606.196,71.693z')
            g
                g
                    path(fill=secondaryColor, d='M605.396,62.203c-16.101,69.984-27.999,141.035-40.048,211.801\
            c-13.92,81.753-27.044,163.675-38.418,245.824c-3.934,28.41-7.863,56.87-10.494,85.437c-0.751,8.155,7.392,15,15,15\
            c8.744,0,14.25-6.861,15-15c1.096-11.896,2.476-23.767,3.931-35.624c0.908-7.401,1.859-14.798,2.832-22.191\
            c0.25-1.902,0.503-3.804,0.757-5.706c0.122-0.911,0.587-4.373-0.015,0.106c0.132-0.983,0.266-1.967,0.398-2.95\
            c0.594-4.388,1.197-8.773,1.806-13.159c5.413-39.024,11.303-77.982,17.398-116.905c13.075-83.49,27.029-166.873,42.683-249.921\
            c5.591-29.66,11.331-59.318,18.099-88.735c1.832-7.961-2.349-16.216-10.477-18.452C616.224,49.629,607.23,54.235,605.396,62.203\
            L605.396,62.203z')
            g
                g
                    path(fill=secondaryColor, d='M488.776,699.231c23.815-8.664,48.19-15.791,73.156-20.256c2.586-0.463,5.18-0.88,7.777-1.28\
            c1.27-0.196,2.542-0.377,3.814-0.558c-3.725,0.529,0.458-0.054,1.023-0.125c5.22-0.654,10.459-1.142,15.706-1.513\
            c9.279-0.656,18.592-0.785,27.886-0.44c4.137,0.153,8.268,0.439,12.391,0.807c1.994,0.179,3.984,0.395,5.973,0.623\
            c0.979,0.112,1.956,0.237,2.933,0.362c-4.744-0.606-0.15-0.004,0.823,0.142c7.644,1.141,15.219,2.71,22.713,4.593\
            c13.632,3.424,26.908,8.112,39.925,13.386c1.473,0.597,2.941,1.204,4.408,1.815c0.952,0.396,3.723,1.57-0.68-0.292\
            c0.72,0.305,1.44,0.612,2.159,0.919c3.074,1.313,6.138,2.65,9.199,3.993c5.705,2.502,11.397,5.031,17.123,7.488\
            c11.858,5.088,23.811,10.021,36.25,13.522c26.33,7.412,53.817,6.904,79.781-1.787c11.021-3.688,21.699-8.588,31.909-14.122\
            c7.18-3.892,9.412-13.643,5.381-20.522c-4.228-7.218-13.333-9.278-20.523-5.382c-3.624,1.964-7.292,3.835-11.018,5.597\
            c-1.76,0.832-3.539,1.623-5.325,2.398c4.34-1.884-2.149,0.836-3.337,1.289c-6.643,2.535-13.48,4.555-20.435,6.03\
            c-1.548,0.328-3.105,0.61-4.665,0.877c-0.766,0.131-1.534,0.246-2.302,0.361c-2.97,0.446,3.911-0.495,0.95-0.131\
            c-3.203,0.394-6.425,0.616-9.649,0.729c-5.93,0.206-11.87-0.136-17.754-0.873c5.754,0.722,0.497,0.039-0.834-0.183\
            c-1.37-0.229-2.733-0.49-4.094-0.763c-2.947-0.591-5.868-1.303-8.77-2.079c-5.637-1.507-11.176-3.363-16.649-5.379\
            c-2.677-0.985-5.333-2.026-7.98-3.09c-1.339-0.538-2.673-1.089-4.006-1.642c-0.671-0.277-1.34-0.56-2.01-0.841\
            c4.771,2.005,1.268,0.532,0.222,0.085c-5.727-2.45-11.418-4.984-17.122-7.488c-26.816-11.773-53.937-22.438-82.992-27.144\
            c-40.881-6.618-82.129-2.726-122.157,7.278c-15.984,3.995-31.695,9.035-47.173,14.666c-7.676,2.792-12.777,10.089-10.477,18.451\
            C472.361,696.16,481.086,702.029,488.776,699.231L488.776,699.231z')
            g
                g
                    path(fill=secondaryColor, d='M502.118,619.729c25.31,5.68,50.688,11.072,76.292,15.269c24.643,4.039,49.457,6.987,74.249,9.935\
            c17.975,2.137,35.944,4.337,53.947,6.233c47.696,5.026,95.491,9.167,143.249,13.545c8.156,0.748,15-7.389,15-15\
            c0-8.741-6.861-14.254-15-15c-59.299-5.437-118.672-10.422-177.808-17.473c-8.185-0.977-16.371-1.944-24.556-2.921\
            c-8.327-0.993-16.651-2.004-24.97-3.058c-1.9-0.24-3.799-0.486-5.698-0.732c-0.577-0.075-6.323-0.839-2.913-0.38\
            c-3.557-0.479-7.11-0.978-10.662-1.488c-31.321-4.506-62.289-10.933-93.153-17.857c-7.971-1.789-16.208,2.316-18.452,10.477\
            C489.553,608.869,494.139,617.938,502.118,619.729L502.118,619.729z')
            g
                g
                    path(fill=secondaryColor, d='M824.625,721.446c12.996-12.347,23.537-27.329,30.975-43.626c3.506-7.683,6.935-15.815,8.718-24.123\
            c1.714-7.986-2.262-16.192-10.477-18.451c-7.537-2.073-16.736,2.48-18.452,10.477c-0.374,1.742-0.879,3.459-1.39,5.165\
            c-0.589,1.965-1.252,3.907-1.943,5.839c-0.426,1.193-0.883,2.375-1.344,3.555c-0.252,0.64-0.51,1.277-0.772,1.914\
            c1.542-3.779,0.053-0.182-0.244,0.483c-6.852,15.354-14.668,26.518-26.284,37.555c-5.927,5.631-5.668,15.545,0,21.213\
            C809.302,727.336,818.702,727.074,824.625,721.446L824.625,721.446z')
            g
                g
                    path(fill=secondaryColor, d='M538.43,566.143c1.806,0.226,3.612,0.456,5.417,0.691c0.911,0.118,1.822,0.239,2.733,0.36\
            c-4.638-0.616-1.281-0.172-0.316-0.04c4.059,0.553,8.114,1.133,12.167,1.725c8.209,1.198,16.408,2.468,24.604,3.758\
            c18.517,2.915,37.015,5.946,55.533,8.857c50.191,7.891,100.537,14.754,151.047,20.258c14.496,1.58,29.005,3.04,43.522,4.416\
            c8.154,0.772,15-7.408,15-15c0-8.761-6.863-14.229-15-15c-29.929-2.836-59.816-6.082-89.649-9.797\
            c-6.309-0.785-12.614-1.597-18.917-2.425c-1.529-0.2-3.058-0.404-4.586-0.607c-4.978-0.661,2.889,0.393-2.041-0.273\
            c-3.44-0.465-6.878-0.938-10.317-1.415c-11.531-1.6-23.051-3.275-34.563-5.004c-36.847-5.53-73.562-11.935-110.441-17.244\
            c-8.054-1.16-16.118-2.25-24.192-3.26c-8.134-1.018-15,7.593-15,15C523.43,560.087,530.318,565.128,538.43,566.143\
            L538.43,566.143z')
