mixin contactData(data)
    dl.dl-horizontal
        dt Email:
        dd
            a(href=data.email.value) #{data.email.value}

        dt Telefon:
        dd #{data.phoneNumber.value}

        dt Facebook:
        dd
            a(href=data.facebookUrl.value) #{data.facebookUrl.value}

        dt Instagram:
        dd
            a(href=data.instagramUrl.value) #{data.instagramUrl.value}

        dt Twitter:
        dd
            a(href=data.twitterUrl.value) #{data.twitterUrl.value}

