extends ../page-layout
include ../mixins/newsPostPreview
include ../mixins/headerMetadata

block append meta
    +headerMetadata(item)

block content
    .container-fluid.no-padding
        .cover-video.no-padding#cover-video
            video(
            type="video/mp4"
            src="/img/cover-video.mp4"
            poster="/img/cover-poster.png"
            loop
            autoplay
            muted
            )

    .container-fluid.no-padding
        .row
            .col-sm-12
                .small-search__wrapper
                    h1#cover-video-heading
                        | #{item.coverVideoHeading.value}

                    .booking-manager__container--small.text-center
                        iframe#booking-manager(
                        width="100%"
                        frameborder="0"
                        scrolling="auto"
                        src=`https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SmallSearchForm&target=_top&controllerPage=${controllerPage}&customCssPath=${bookingCssSm}`
                        allowTransparency="true"
                        )
