extends ../page-layout
include ../mixins/newsPostPreview

block content
    .container-fluid.no-padding
        .cover-video
            video(
            type="video/mp4"
            src=item.coverVideo.value[0].url
            poster="/img/cover-poster.png"
            loop
            autoplay
            muted
            )

    .container-fluid.no-padding
        .row
            .col-sm-12

                iframe.booking-manager__container--large(
                width="100%"
                height="155"
                frameborder="0"
                scrolling="auto"
                src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SmallSearchForm&target=_blank&customCssPath=" + bookingCss
                allowTransparency="true"
                )
                br

                a(
                href="https://www.booking-manager.com"
                style="color:#9999;text-decoration:none;font-size:10px;font-family:arial"
                ) Yacht charter availability powered by booking-manager.com

    .container
        .row
            .col-sm-12
                h1#novinky.page-header.navigable-element #{item.newsPage[0].pTitle.value}

                p.lead #{item.newsPage[0].pLeadingParagraph.value}

        .row
            .col-sm-12
                | !{item.newsPage[0].pBody.getHtml()}


        .row
            .col-sm-12
                each post in posts
                    +newsPostPreview(post)
