extends ../page-layout
include ../mixins/newsPostPreview

block content
    .container-fluid.no-padding
        .cover-video.no-padding#cover-video
            video(
            type="video/mp4"
            src=item.coverVideo.value[0].url
            poster="/img/cover-poster.png"
            loop
            autoplay
            muted
            )

    .container-fluid.no-padding
        .row
            .col-sm-12
                .booking-manager__container--small
                    iframe#booking-manager(
                    width="100%"
                    frameborder="0"
                    scrolling="auto"
                    src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SmallSearchForm&target=_top&controllerPage=https://inyacht-preview.herokuapp.com/najit-lod&customCssPath=https://inyacht-preview.herokuapp.com/css/booking-manager-small.css"
                    allowTransparency="true"
                    )
    .container
        .row
            .col-sm-12
                h1#novinky.page-header.navigable-element #{item.newsPage[0].pTitle.value}

                p.lead #{item.newsPage[0].pLeadingParagraph.value}

        .row
            .col-sm-12
                | !{item.newsPage[0].pBody.getHtml()}


        .row
            .col-sm-12
                each post in posts
                    +newsPostPreview(post)

block append scripts
    script.
      function positionSmallSearch() {
        var bookingManagerIframeWrapper = $('.booking-manager__container--small');
        var bookingManagerIframe = $('iframe#booking-manager');
        var screenWidth = $(window).width();

        if (screenWidth < 560) {
          bookingManagerIframe.height(227);
        }
        else if (screenWidth < 620) {
            bookingManagerIframe.height(176);
        } else {
            bookingManagerIframe.height(125);
        }

        if (screenWidth < 768) {
          bookingManagerIframeWrapper.css({ top: 0, position: 'relative'});
        } else {
          var iframeHeight = bookingManagerIframeWrapper.height();
          var videoHeight = document.getElementById('cover-video').offsetHeight;

          var positionTop = -(videoHeight / 2 + iframeHeight / 2);
          bookingManagerIframeWrapper.css({ top: positionTop, position: 'absolute' });
        }
      };

      positionSmallSearch();
      $(window).resize(positionSmallSearch);
