extends ../page-layout
include ../mixins/newsPostPreview

block content
    .container-fluid.no-padding
        .cover-video
            video(
            type="video/mp4"
            src=item.coverVideo.value[0].url
            poster="/img/cover-poster.png"
            loop
            autoplay
            muted
            )

    .container
            .row
                .col-sm-12
                    h1.page-header #{item.newsPage[0].pTitle.value}

                    p.lead #{item.newsPage[0].pLeadingParagraph.value}

            .row
                .col-sm-12
                    | !{item.newsPage[0].pBody.getHtml()}


            .row
                .col-sm-12
                    each post in posts
                        +newsPostPreview(post)
