extends ../base-page

block more
    h1 Large
    iframe(
        width="600"
        height="600"
        frameborder="0"
        scrolling="auto"
        src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs" allowTransparency="true"
    )
    br

    a(
        href="https://www.booking-manager.com"
        style="color:#9999;text-decoration:none;font-size:10px;font-family:arial"
    ) Yacht charter availability powered by booking-manager.com

    h1 Small
    <iframe width="600" height="" frameborder="0" scrolling="auto" src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SmallSearchForm&target=_blank"allowTransparency="true"></iframe>
    <a href="https://www.booking-manager.com" style="color:#9999;text-decoration:none;font-size:10px;font-family:arial">Yacht charter availability powered by booking-manager.com</a>

    h1 Last minute

    <iframe width="600" height="600" frameborder="0" scrolling="auto" src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=Lastminute"  allowTransparency="true"></iframe><br/>
    <a href="https://www.booking-manager.com" style="color:#9999;text-decoration:none;font-size:10px;font-family:arial">Yacht charter availability powered by booking-manager.com</a>


    h1 Short term offers

    <iframe width="600" height="600" frameborder="0" scrolling="auto" src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SearchResult&filter_offer_type=1&filter_flexibility=two_weeks "allowTransparency="true"></iframe><br/>
    <a href="https://www.booking-manager.com" style="color:#9999;text-decoration:none;font-size:10px;font-family:arial">Yacht charter availability powered by booking-manager.com</a>

    h1 One way offers

    <iframe width="600" height="600" frameborder="0" scrolling="auto" src="https://www.booking-manager.com/wbm2/page.html?companyid=2957&setlang=cs&view=SearchResult&filter_flexibility=in_year&filter_show_only_oneway=true "  allowTransparency="true"></iframe><br/>
    <a href="https://www.booking-manager.com" style="color:#9999;text-decoration:none;font-size:10px;font-family:arial">Yacht charter availability powered by booking-manager.com</a>

